<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="HTML,CSS,XML,bootstrap,login form, website, JavaScript">
  <meta name="author" content="Vishal Bait">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
  <link rel="stylesheet" href="./stylesheets/dashboard.css">
</head>
<body>


  <%- include('./header.ejs'); %>
  

  <div class="hing" onclick="hiddenfunct()">></div>

  <div class="bodys">



  <div class="sitebar" id="sitebar" style="display: block">   
    <%- include('./sitebar.ejs'); %>
  </div>



  <div class="container-fluid textaria">
      <div class="text-center text-info py-3"><h3>Catagory SubItem Forms  </h3></div>

    <form action="/subpostcatagory" method="post" enctype="multipart/form-data">

      <label for="exampleInputEmail1">Selected Catagory Items</label>
      <div class="selectedoption">
      <select select class="form-select form-select-lg" name="subcatagorytype" aria-label=".form-select-lg example">
        <% catagoryitems.map((cataitem, index)=> {%>
          <option selected value='<%= cataitem.catagoryname %>'><%= cataitem.catagoryname %></option>        
        <% })%>
      </select>
    </div>

                    
      <div class="form-group">
        <label for="exampleInputEmail1">SubCatagory Item Image</label>
        <input type="file" class="form-control"  required name="subcatagoryimage" aria-describedby="emailHelp" placeholder="Enter Add Catagory">
      </div>
      
      <div class="form-group">
        <label for="exampleInputEmail1">Add Catagory SubItem</label>
        <input type="text" class="form-control"  required name="subcatagoryname" aria-describedby="emailHelp" placeholder="Add SubItem Catagory">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
  <div class="catagorydeldiv">
    <table class="table table-dark">
      <tr>
        <td>SL</td>
        <td>Image</td>
        <td>Sub Catagory Type</td>
        <td>sub Product Name</td>
        <td>Action</td>
      </tr>

      <tr>
        <% subcatagory.reverse().map((dta, index)=> {%>       
          <td><%= index + 1 %></td>
          <td>
            <img src="<%= dta.subcatagoryimage %>" alt="Girl in a jacket" width="70" height="40"/>
          </td>   
          <td><%= dta.subcatagorytype %></td>          
          <td><%= dta.subcatagoryname %></td>
          <td>
            <a class="btn btn-danger">Delete</a>
          </td>
        </tr>
        <% }) %>
    </table>


  </div>
  </div>





</div>



<style>
  body{
    overflow-y: hidden;
  }

  .catagorydeldiv{
    height: 210px;
    overflow-y: scroll;
  }

  
</style>






<script>
  function hiddenfunct(){
    var x = document.getElementById("sitebar");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
